.encabezado{
    background-color: var(--celeste);
    padding: 5rem 0;
}
.img{
    max-width: 50px;
    max-height: 50px;
}
.title{
    font-size: 1.8em;
    text-align: justify;
    text-decoration-color: var(--blanco);
    text-align-last: center;
}