.encabezado{
    display: flex;
    list-style: none;
    flex-grow: 1;
    text-align: center;
    color: var(--azul);
}
.img{
    float: left;
    shape-outside: circle(50%);
    max-width: 50px;
    max-height: 50px;
}