.contenedor{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.img {
    height: 200px;
    overflow: hidden;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}