.nosotros{
    max-width: 3000px;
    margin-right: auto;
    margin-left: auto;
    color: var(--blanco);
    text-align: center;
    
}
.nosotros-img {
    max-width: 300px;
    object-fit: cover;
}