:root {
  --negro: rgb(0, 0, 0);
  --blanco: rgb(255, 255, 255);
  --gris: rgb(165, 168, 177);
  --azul: rgb(0, 0, 255);
  --celeste: hsl(199, 35%, 45%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4e6280;
} 
.contenedor{
  max-width: 1000px;
  margin: 20x auto;
}
