:root {
  --negro: hsl(0, 0%, 0%);
  --blanco: hsl(0, 0%, 100%);
  --gris: hsl(225, 7%, 67%);
  --azul: hsl(240, 100%, 50%);
  --celeste: hsl(200, 35%, 45%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;

}

body {
  background-color: var(--gris);
  margin: 20px auto;
} 
.contenedor{
  max-width: 1000px;
  margin: 20x auto;
}

